.homepage{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
    height: 100%;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        gap:0px;

    }

    .orbital{      
      position: absolute;
      height: auto;
      width: auto;
      bottom:0;
      top:0;
      left: -50px;
      opacity:0.09;
      animation: 10s linear infinite rotateOrbital;
      z-index: 2;
    }
    .left{
      z-index: 5;
       flex: 1;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       gap: 16px;
       text-align: center;

       h1{
        font-size: 128px;
        background: linear-gradient(to right, rgb(51, 166, 219),rgb(250, 41, 163));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        @media screen and (max-width: 1280px) {
         font-size: 64px; 
     }
       }

       h3{
         font-weight: 400;
         max-width: 70%;

         @media screen and (max-width: 1024px) {
            max-width: 100%;
        }
       }

       a{
          padding: 15px 25px;
          background-color: rgb(116, 7, 143);
          color: white;
          border-radius: 20px;
          font-size: 16px;
          font-weight: 700;
          margin-top: 20px;
         

          &:hover{
            background-color:white;
            color: rgb(116, 7, 143);
            cursor: pointer;
          }

          
       }       
      

    } 
       


    .right{
       flex: 1;
       display: flex;
       align-items: center;
       justify-content: center;
       z-index: 10;
       height: 100%;

      .imgContainer{
         display: flex;
         align-items: center;
         justify-content: center;
         background-color: rgb(4, 5, 39);
         border-radius: 50px;
         width: 80%;
         height: 50%;
         position:relative;
         

         .bgContainer{
           width: 100%;
           height: 100%;
           overflow: hidden;
           position:relative;
           top:0;
            left:0;
           border-radius: 50px;
          
          
           .bg{
           position: absolute;
            background-image: url("/bg.png");
            opacity:0.2;
            width: 200%;
            height: 100%;
            background-size: auto 100%; 
            animation: 8s ease-in-out infinite alternate slideBg;
           }
             }

         .bot{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            animation:3s ease-in-out infinite alternate botAnimate;
         }
      }  
    }


   
    .terms{
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    img{
      width: 30px;
      height: 30px;
    }

    .links{
       display: flex;
       gap: 10px;
       color: #888;
       font-size: 13px;
    }

}

@keyframes rotateOrbital {
   0%{
      transform: rotate(0deg);
   }
   100%{
      transform:rotate(60deg);
   }
}
   
   @keyframes botAnimate {
      0%{
         transform:scale(1) rotate(0deg);
      }
      100%{
         transform:scale(1.1)rotate(-5deg);
      }
         
}


 @keyframes slideBg {
   0%{
      transform: translateX(0);
   }
   100%{
      transform: translate(-50%);
   }
 }